.custom-datepicker {
  font-size: 1.5rem;
  width: 100% !important;
}

.custom-datepicker .react-datepicker__month-container {
  width: 100%;
}

/* Hace que el header (días de la semana) use todo el espacio */
.custom-datepicker .react-datepicker__day-names {
  display: flex;
  justify-content: space-between;
}

.custom-datepicker .react-datepicker__day-name,
.custom-datepicker .react-datepicker__day {
  flex: 1; /* Que se expandan igualmente */
  text-align: center;
  padding: 0.5rem;
  box-sizing: border-box;
}

/* Header del mes */
.custom-datepicker .react-datepicker__header {
  background-color: #205afad3;
  color: white;
}

/* Día al pasar el mouse */
.custom-datepicker .react-datepicker__day:hover {
  background-color: #3f51b5;
  color: rgb(185, 185, 185);
}
.custom-datepicker .react-datepicker__week {
  display: flex !important;
  justify-content: space-between;
}

.custom-datepicker .react-datepicker__day {
  flex: 1 !important;
  text-align: center;
  padding: 0.5rem 0;
  box-sizing: border-box;
  font-size: 1.5rem;
}
